.container-advantages {
    max-width: 1400px;
    height: 180px;
    margin: 0 auto 160px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background: #ffffff30;
    box-shadow: 0px 0px 70px rgba(138, 138, 138, 0.1);
    border-radius: 16px;
}

.container-advantages__item {
    height: 135px;
    margin: 17.5px auto 27px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-right: 1px solid #c0c9d7;
}

.container-advantages__imageLogo {
    max-width: 60px;
    margin-right: 26px;
}

.container-advantages__subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #ffffd0;

    margin-right: 25%;
}

.no-border{
    border: none;
}